:root{
    /* colors */
    --safety-orange: hsl(25, 100%, 50%);
    --eerie-black: #18181b;
    --light-gray: #cccccc;
    --cultured-2: #f7fafd;
    --cultured: #ededed;
    --black_10: #0000001a;
    --black_5: #0000000d;
    --white-1: #ffffff;
    --white-2: #fbf9f9;
    --black: #000000;
    --normal-orange: #ff6b00;
    --dark-orange: #cc5600;
    --light-orange: #ffd1a3;
    --lighter-orange: #fff5e6;
  
    /* Gradient orange color */
    --gradient: linear-gradient(to left top, var(--persian-rose), var(--safety-orange));
  
    /* Typography */
    --ff-roboto: 'Roboto', sans-serif;
    --ff-league-spartan: 'League Spartan', sans-serif;
    --fs-1: 3.5rem;
    --fs-2: 3rem;
    --fs-3: 2.1rem;
    --fs-4: 1.7rem;
    --fs-5: 1.4rem;
    --fs-6: 1.3rem;
    --fw-700: 700;
    --fw-500: 500;
  
    /* Shadow */
    --shadow-1: 0 6px 24px var(--normal-orange);
    --shadow-2: 0 2px 28px var(--dark-orange);
  
    /* Spacing */
    --section-padding: 60px;
  
    /* Border Radius */
    --radius-1: 15px;
    --radius-2: 20px;
    --radius-3: 50px;
    --radius-full: 50%;
  
    /* Transition */
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
}
body.dark{
    color: var(--white-1);
    --white-1: #000000;
    --white-2: #000000;
}

/*-----------------------------------*\
#RESET
\*-----------------------------------*/
*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li{
    list-style: none;
}
a,img,span,button,time,label,input,button,ion-icon{
    display: block;
}
a{
    color: inherit;
    text-decoration: none;
}
img{height: auto;}
input,button,textarea{
    background: none;
    border: none;
    font: inherit;
    color: inherit;
}
input,textarea{
    width: 100%;
}
button{
    cursor: pointer;
}
ion-icon{
    pointer-events: none;
}
address{
    font-style: normal;
}
html{
    font-family: var(--ff-roboto);
    font-size: 10px;
    scroll-behavior: smooth;
}
body{
  background: var(--white-1);
}
body.active{
    overflow: hidden;
}
:focus-visible{outline-offset: 4px;}
::-webkit-scrollbar{width: 10px}
::-webkit-scrollbar-track{background: var(--white-1);}
::-webkit-scrollbar-thumb{background-color: var(--dark-orange);}

  
/*-----------------------------------*\
#REUSED STYLE
\*-----------------------------------*/
.container{
  padding-inline: 16px;
}
  
.btn{
  max-width: max-content;
  background: var(--gradient);
  color: var(--white-1);
  font-size: var(--fs-6);
  font-weight: var(--fw-700);
  padding: 10px 30px;
  border-radius: var(--radius-5);
  transition: var(--transition-1);
}

.section{
  padding-block: var(--section-padding);
}
  
.h1,.h2,.h3{
    color: var(--dark-orange);
    font-family: var(--ff-league-spartan);
    line-height: 1.2;
}
  
.h1{font-size: var(--fs-1);}
.h2{font-size: var(--fs-2);}
.h3{font-size: var(--fs-3);}
  
.w-100{width: 100%;}
  
.section-title, .section-text{text-align: center;}
.section-text{font-size: var(--fs-6);}
.grid-list{
    display: grid;
    gap: 30px;
}
  
.img-holder{
    aspect-ratio: var(--width) / var(--height);
    background-color: var(--light-gray);
}
  
.img-cover{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
